<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Layout</title>
</head>
<body>

<!-- header -->
<div th:fragment="head">
    <header>
        <h1> <a style="position:relative; " href="/" title="Cick here to return to homepage" id="pageHeader"> Welcome to Moby Dickens!</a>
            <img style="position:relative;  top:0px;" height="150" width="250" src="https://d3jkudlc7u70kh.cloudfront.net/fun-whale-breaching-fact.jpg" /></h1>

        <hr />
    </header>
</div>

<!-- Footer -->
<div th:fragment="foot">
    <footer>
        <cite>&copy; 2017 Moby Dickens Bookstore</cite>
        <ul>
            <li><a href="/">Homepage</a></li>
            <li><a href="/search">Search</a></li>
            <li><a href="/contact-us">Contact Us</a></li>
            <li th:if="${#httpServletRequest.remoteUser}"><a href="/admin/books/view">View All Books</a></li>
            <li th:if="${#httpServletRequest.remoteUser}"><a href="/admin/books/add">Add Book</a></li>
            <li th:if="${#httpServletRequest.remoteUser}"><a href="/admin/books/edit/{bookId}">Edit Book</a></li>
            <li><a href="/console">H2 Console</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </footer>
</div>




</body>
</html>